.container{
	width: auto;
  height: 100vh;
}

.container > div {
	height: 100%;
}
.container > div > .row{
	height: 10%;
}

.container > div > .pageCourante {
	background-color: rgb(182, 155, 76);
	height: 90%;
}

.container > div > .pageCourante > div > .row > ul > li {
	margin : auto;
	margin-top: 5em;
	margin-bottom: 5em;
	list-style-type: none;

}

.container > div > .navbar {
	color : white;
}

.container > div > .pageCourante > div > .row > ul > li > img{
	width: 225px;
	height: 214px;

}

body .modal {
	position: fixed;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	display: block;
  }